.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.r-panel,
.l-panel {
  flex-grow: 0;
  flex-shrink: 0;
  width: 8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-panel {
  flex-grow: 1;
  text-align: center;
}

.colors-panel {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-shrink: 0;
  background-color: #CCC;
}

.color-picker {
  border: 0;
  background: 0;
  width: 4vw;
  height: 4vw;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.brushes-panel {
  padding: 0;
  width: 8vw;
  list-style: none;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}

.brushes-panel__entry {
  width: 4vw;
  height: 4vw;
}

.brush-btn {
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #CCC;
  border: 1px solid #BBB;
  font-size: 1.3em;
  line-height: 1.3em;
  vertical-align: top;
  padding: 0;
  border-top: 0;
}

.swatches-panel {
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  width: 8vw;
  background-color: #CCC;
}

.swatches-panel__entry {
  width: 4vw;
}

.brushes-panel__entry + .brushes-panel__entry .brush-btn {
  border-left: 0;
}

.canvas {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}

.canvas {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: crosshair;
}
