.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swatch-panel,
.brushes-panel {
  padding: 0;
  list-style: none;
  flex-grow: 0;
  flex-shrink: 0;
  width: 8vw;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}

.brushes-panel__entry {
  width: 50%;
}

.brush-btn {
  background-color: #CCC;
  color: #333;
  border: 1px solid #BBB;
  width: 4vw;
  height: 4vw;
  font-size: 1.3em;
  padding: 0;
  border-top: 0;
}

.brushes-panel__entry + .brushes-panel__entry .brush-btn {
  border-left: 0;
}

.canvas {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}

.canvas {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: crosshair;
}
